{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>A recent Chulalongkorn University graduate looking for a position as a junior
        Software Engineer. I am a creative person with a wealth of knowledge
        from my time in school and volunteer work that could contribute to the invention
        of anything new in this field.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}